@mixin arrow($width, $height, $color, $dir: false) {
  width: 0;
  height: 0; 
  @if ($dir == top) {
    border-left: $width solid transparent;
    border-right: $width solid transparent;
    border-bottom: $height solid $color;
  } @else if($dir == bottom) {
    border-left: $width solid transparent;
    border-right: $width solid transparent;
    border-top: $height solid $color;
  } @else if($dir == left) {
    border-top: $height solid transparent;
    border-bottom: $height solid transparent; 
    border-right: $width solid $color; 
  } @else {
    border-top: $height solid transparent;
    border-bottom: $height solid transparent; 
    border-left: $width solid $color; 
  }
}

// .arrow-up {
  
// }

// .arrow-down {
//   width: 0; 
//   height: 0; 
//   border-left: 20px solid transparent;
//   border-right: 20px solid transparent;
  
//   border-top: 20px solid #f00;
// }

// .arrow-right {
//   width: 0; 
//   height: 0; 
//   border-top: 60px solid transparent;
//   border-bottom: 60px solid transparent;
  
//   border-left: 60px solid green;
// }

// .arrow-left {
//   width: 0; 
//   height: 0; 
//   border-top: 10px solid transparent;
//   border-bottom: 10px solid transparent; 
  
//   border-right:10px solid blue; 
// }