// ========================================= //
// fonts
// ========================================= //



$amatic: 'Amatic SC', cursive;
$khand: 'Khand', sans-serif;
$dosis: 'Dosis', sans-serif;
$lato: 'Lato', sans-serif;


$fontBody: $lato;
