#block-#{$themeName}-local-tasks {
	position: fixed;
	z-index: 999;
	left: 0;
	top: 50%;
	max-width:rem(200);
	ul:not(.contextual-links) {
		display:block;
		a {
			@extend .button;
			max-width: 220px;
			width: 100%;
			margin-bottom: 5px;
			border-radius: 0 20px 20px 0;
	    transform: translateX(-10px);
	    transition: 0.3s transform;
	    padding-left: rem(20);
	    padding-right: rem(20);
      height: auto;
	    line-height: 1;
	    padding-top: 10px;
	    padding-bottom: 6px;
	    &:hover {
    	 	transform: translateX(0);
	    }
		}
	}
}