// inputs

[type=color],
[type=date],
[type=datetime-local],
[type=datetime],
[type=email],
[type=month],
[type=number],
[type=password], 
[type=search], 
[type=tel], 
[type=text], 
[type=time], 
[type=url], 
[type=week], 
textarea {
	box-shadow: none;
	outline: none;
	font-family: $lato;
	font-size: rem(16);
  border: 1px solid $gray;
  height: rem(38);
  margin-bottom: rem(10);
	-webkit-appearance: none;
 	-moz-appearance:    none;
 	appearance:         none;
	@include placeholder-color($black);
}

[type=submit] {
	outline: none;
}

input[type=number] {
  -moz-appearance:textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}


select {
	font-family: $lato;
	font-size: rem(16);
	background-image: url(#{$image}icons/arrow-down.svg);
	background-position: right -20px top 50%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding-right: 40px;
  &::-ms-expand {
  	display: none;
  }
}

label.error,
.messages--error {
	font-family: $lato;
	color: $error;
	font-size: rem(12);
}

label.error {
	position: absolute;
	bottom: 2px;
	left: 0;
}

// checkbox & radio


.js-form-type-checkbox,
.js-form-type-radio {
	[type=checkbox],
	[type=radio] {
		position: absolute;
  	visibility: hidden;
  	width: 1px;
  	height: 1px;
  	&:checked + label:after {
      transform: scale(1);
    }
	}
	label {
		position: relative;
		padding-left: rem(35);
		&:before,
    &:after {
	    content: '';
	    display: inline-block;
	    position: absolute;
	    // border-radius: 2px;
    }
    &:before {
      width: rem(20);
      height: rem(20);
      border: 1px solid $gray;
      top: -3px;
      left: 0;
    }
    &:after {
      width: rem(8);
      height: rem(8);
      background-color: $success;
      position: absolute;
      top: 3px;
      left: 6px;
      transform: scale(0);
      transition: 0.3s transform;
    }
	}
}


// checkbox


.js-form-type-checkbox {
	label:before,
  label:after {
    border-radius: 2px;
  }
}

// radio button

.js-form-type-radio {
	label:before,
  label:after {
    border-radius: 100%;
  }
}

.input-style {
	border: 1px solid $gray;
  // background-color: #f1e5e6;
  padding: 0;
  margin-top: 5px;


  // max-width: 80%;
  font-size: rem(20);
  // font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: block;
  overflow: hidden;
  height: rem(38);
  vertical-align: middle;
  margin-bottom: 25px;

  span {
    // width: 200px;
    width: 60%;
    min-height: 2em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
    font-family: $lato;
    padding: 10px 15px;
    font-size: rem(16);
    color: #a6a6a6;
    font-weight: 400;
  }
  strong {
  	height: 100%;
    color: #f1e5e6;
    background-color: $orange;
    display: inline-block;
    font-family: $lato;
    float: right;
    padding: 7px 15px;
  } 
}
    

// input file

.form-file {
 	width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}