.c-action__gototop {
  z-index: 1;
  position: fixed;
  bottom: 20px;
  right: 30px;
  display: none;
  width: rem(55);
  height: rem(55);
  font-size: rem(40);
  text-align: center;
  text-transform: uppercase;
  border-radius: 50%;
  background-color: transparentize($orange, 0.2);
  transition: 0.3s background-color;
  color: $white;
  cursor: pointer;
  line-height: rem(52);
  
  // transform: translateY(300px);
  // opacity: 0;
  // transition: 0.3s all;
  // border: 1px solid $white;
  // &.is-active {
  //     transform: translateY(0);
  //     opacity: 1;
  // }
  
  &:before {
    content: "\f106";
    display: block;
    margin: 0 auto;
    @include fonts;
  }
  &:hover {
    background-color: $orange;
  }
  @include bp-lt($medium) {
    right: 10px;
  }
}