// page login

#user-login-form,
#user-register-form {
  max-width: 30.25rem;
  background-color: $black--05;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  .form-item{
    width: 100%;
    display: block;
  }
  .button{
    color: $black--05;
    background-color: $white;
  }
  label{
    color: $white;
  }
  .description{
    display: none;
  }
}