h1 {
	font-family: $amatic;
	font-size: rem(60);
	font-weight: bold;
	text-align: center;
	color: $white;
	padding: rem(15) rem(10);
  line-height: 1.2;
  background-color: $blue;
  &:first-letter {
  	text-transform: capitalize;
  }
  @include bp-lt($small) {
  	font-size: rem(46);
  }
	span {
		display: block;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: rem(15);	
}

h2, h3, h4, h5 {
	text-transform: uppercase;
}

h1 {
	font-size: rem(60);
	font-family: $amatic;
	font-weight: bold;
}

h2 {
	font-size: rem(40);
	font-family: $khand;
	font-weight: bold;
}

h3 {
	font-size: rem(30);
	font-weight: 400;
	font-family: $khand;
}
h4 {
	font-size: rem(22);
	font-family: $lato;
	font-weight: bold;
}

h5 {
	font-size: rem(18);
	font-weight: bold;
	font-family: $khand;
}

h6 {
	font-weight: bold;
	font-family: $lato;
}

p {
	font-family: $lato;
	font-size: rem(14);
	margin-bottom: rem(35);
}



sup {
	font-size: 60%;
}

strong, b {
	font-weight: bold;
}

em, i {
	font-style: italic;
}



p {
	font-size: rem(15);
	font-family: $lato;
	line-height: 2;
	margin-bottom: rem(30);
	text-align: justify;
}

a {
	text-decoration: underline;
	color: $blue;
  transition: 0.3s all;
  &:hover{
    color: darken($blue, 10%);
  }
}


img {
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}

.clearfix {
	@include clearfix();
}

ul:not(.contextual-links) {
	font-family: $lato;
	margin-bottom: rem(30);
	font-size: rem(24);
	li {
		margin-bottom: 4px;
		&:before {
	    content: '';
	    width: 7px;
	    height: 7px;
	    position: relative;
			top: -4px;
	    margin-right: 7px;
	    border-radius: 50%;
	    background-color: $black;
	    display: inline-block;
		}
	}
}



blockquote {
	position: relative;
	padding-bottom: rem(15);
	margin-left: rem(40);
	padding-left: rem(40);
	padding-top: rem(20);
	@include bp-lt($small) {
		margin-left: 0;
		padding-left: rem(30);
	}
	&, p {
		font-family: $lato;
		font-style: italic;
		font-size: rem(18);
		color: $black;
		line-height: 1.2;
		margin-bottom: 0;
	}
	&:before {
		content: '';
		background-color: $gray--02;
		display: block;
		width: 3px;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
	}
}

// style table

table {
 	width: 100% !important;
	margin-bottom: rem(50);
	border-collapse: collapse;
	font-family: $lato;
	th,td {
  	padding: rem(13) rem(18);
  	font-size: rem(14);
  	border: 1px solid $gray--02;
	}
	th {
		font-weight: bold;
	}
	td {
		font-weight: 300;
	}
	thead {
  	tr th {
  		// color: $white;
  		text-align: left;
  		color: $white;

  		&:nth-of-type(even) {
  		}
  	}
	}
	tbody th:nth-of-type(even){
		background-color: $gray--03;
	}
}

hr {
	clear: both;
	border: 0 none;
	border-top: 1px solid $gray--03;
}



//================== liste ================//

ul ul, ol ol {
  margin-top: 10px;
  padding-left: 30px;
}
ul:not(.contextual-links), ol:not(.contextual-links) {
	font-family: $lato;
	margin-bottom: rem(30);
	font-size: rem(24);
	padding-left: rel(20);
	li {
		margin-bottom: 4px;
	}
}

ul:not(.contextual-links) {
	li {
		&:before {
	    content: '';
	    width: 8px;
	    height: 8px;
	    position: relative;
			top: -4px;
	    margin-right: 7px;
	    border-radius: 50%;
	    background-color: $black;
	    display: inline-block;
		}
	}
}
//===== liste numerote======//

ol:not(.contextual-links){
  counter-reset: section;
  li{
    &:before {
      counter-increment: section;
      content: counters(section,".")"." ;
      font-weight: bold;
      margin-right: rem(15);
      font-family: $khand;
    }
  }
}