.row {
	max-width: rem(1044);
	// justify-content: center;
}

.columns,
.column {
	padding-left: rem(10);
	padding-right: rem(10);
	@include bp-lt($small) {
		padding-left: rem(15);
		padding-right: rem(15);
	}
}